<div class="card mb-4 mx-auto pb-4 mt-4">
  <div class="username">
    <i class="fa-brands fa-instagram" style="color: #d93041;font-size:2.5rem;"></i>
    <p style="font-size:2rem" class="pt-2"> <%= @pic.user.email.split('@').first %></p>
  </div>
  <%= image_tag @pic.main_image,class:"postImage"%>
  <div class="status">  
    <div class="like">
      <% if user_signed_in? %>
      <!-- app/views/posts/show.html.erb -->
        <% if current_user.likes.exists?(pic_id: @pic.id) %>
        <%= button_to  pic_like_path(@pic, find_like_id(@pic, current_user)), method: :delete do %>
        <i class="fa-solid fa-thumbs-down" style="font-size:2rem"></i>
        <% end %>
        <% else %>
        <%= button_to pic_likes_path(@pic), method: :post do %>
          <i class="fa-solid fa-thumbs-up" style="font-size:2rem"> &nbsp;<%= @pic.likes.count %></i>
          <% end %>
        <% end %>
      <% end %>
    </div><br>
    <div><%= @pic.disc%></div>
  </div>
  <div class="commentInput">
    <% if user_signed_in? %>
    <% if current_user.id == @pic.user_id %>
    <div class="d-grid gap-2 d-md-block">
      <%= button_to 'edit',edit_pic_path(@pic),class:"btn btn-info mx-3"%>
      <%= button_to "Delete Project", custom_delete_pic_path(@pic), method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-block mx-4"%>
    </div>
    <% end %>
    <% end %>
  </div>
  
</div>

