<h1> <%= @pic.title %></h1>
<%= link_to 'Delete', pic_path, method: :delete, data: { confirm: "are you sure" }%>
<h1><%= @pic.disc %></h1>
<h1><%= @pic.user.email %></h1>
<%= link_to 'edit',edit_pic_path(@pic)%>
<br>
